<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Kompilaatio Questionnaires</title>
</head>
<body>
	<h1>Questionnaires</h1>
	<table>
		<tr>
    		<th>Group name</th>
    		<th>Questionnaire name</th>
		</tr>  
		<tr th:each = "questionnaire : ${questionnaires}">
			<td th:text="${questionnaire.name}"></td>
			<td th:text="${questionnaire.questionnairename}" />	
			<td><a th:href="@{/editquestionnaire/{id}(id=${questionnaire.id})}">Edit</a></td>  
		</tr>
	</table>
	<a href="/newquestionnaire">Add a questionnaire</a>

</body>
</html>